@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply leading-8 font-light;
  }

  hr {
    @apply h-0.5 border-0 bg-gray-200 my-16;
  }

  a {
    @apply text-blue-600 underline;
  }
}

@layer utilities {
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
}
